{% extends 'base.html.twig' %}

{% block body %}
<section class="about-section">
    <h1>About Game.scope</h1>
    <div class="about-paragraphe">
    <p>
        I created this page to share my experinces in the web development
        and try to make my first project as games bloger.
        Game.scope is built on HTML/CSS  JavaScript as front-ent , PHP/SQL as
        a back-end . So to make sure im sharing my experinces its gona be
        a open-saurce code ,you can inspect every little detail of the code
        on GitHub,  also you can share ideas and features or bugs to improve
        Game.scope. Below, you’ll find all the options to directly communicate
        your needs to our team.
    </p>
    </div>
    <div class="question-about">
        <h2>How can we make Game.scop better?</h2>
    </div>
    <div class="github-discussions">
    <div class="request">
        <span class="emoji">🤔</span>
        <h2>Feature request</h2>
        <p>if you have an idea of features
        share it on Github discussion
        </p>
        <a href="#">Request</a>
    </div>
        <div class="bugs">
            <span class="emoji">🐜</span>
            <h2>Report a bug</h2>
            <p>you found a bug please contact us to fix it</p>
            <a href="#">Report</a>
        </div>
    </div>
</section>
{% endblock %}


