{% extends 'base.html.twig' %}

{% block body %}
    <section class="crud-section container ">
        <h1 class="text-center fs-3 text-dark ">Add new article</h1>
        {{ form(articleForm) }}
    </section>

{%endblock%}