{% extends 'base.html.twig' %}

{% block body %}

    <section class="faq-section">
        <div class="questions">
            <h1>Frequently Asked Questions <span class="emoji">🤔</span></h1>
            <h2>Who can post to game.scope?</h2>
            <p>
                Just the admin and the editors can post
            </p>
            <h2>How do I change my name account or password?</h2>
            <p>No you can't for the moment </p>
            <h2>I found a bug. how can I reported?</h2>
            <p>
                You can go to about pages and report it <3
            </p>
            <h2>Do game.scope make money?</h2>
            <p>Not now for the moment</p>
            <h2>how I delete my account?</h2>
            <p>Contact our admin for the moment or wait for the update then you can delete or modifie your account</p>
            <h2>Where you get your articles resources? </h2>
            <p>From the internet "free sources" :)</p>
            <h2 class="services-policy"> Service and the Privacy Policy.</h2>
            <h2>1- Nature of the data collected</h2>
            <p>As part of the use of the Sites, the Publisher is likely to collect the categories
                of the following data concerning its Users:
                Connection data (IP addresses, event logs...)</p>
            <h2>2- Communication of personal data to
                third</h2>
            <p>
                No communication to third parties
                Your data is not communicated to third parties. However, you are informed
                that they may be disclosed pursuant to a law, regulation or under a
                decision of a competent regulatory or judicial authority.
            </p>
            <h2>3- Prior information for the communication of
                personal data to third parties in the event of a merger /
                absorption</h2>
            <p>Prior information and possibility of opt-out before and after the merger / acquisition
                In the event that we participate in a merger, acquisition or other
                form of transfer of assets, we are committed to guaranteeing the confidentiality of your data
                personal data and to inform you before these are transferred or subject to
                new privacy rules.</p>
            <h2>4- Data aggregation</h2>
            <p>Aggregation with non-personal data
                We may publish, disclose and use aggregate information (information relating to
                all of our Users or to specific groups or categories of Users that we
                combine in such a way that an individual User can no longer be identified or
                mentioned) and non-personal information for industry and market analysis purposes,
                demographic profiling, for promotional and advertising purposes and for other purposes
                commercial.
                Aggregation with personal data available on the social accounts of
                the user
                If you connect your account to an account from another service in order to cross-send,
                said service may provide us with your profile and connection information, as well as any
                other information that you have authorized to be disclosed. We may aggregate information
                relating to all our other Users, groups, accounts, personal data available
                on the User.</p>
            <h2>5- Collection of identity data</h2>
            <p>
                Consultation libre
                La consultation du Site ne nécessite pas d'inscription ni d'identification préalable. Elle peut
                s'effectuer sans que vous ne communiquiez de données nominatives vous concernant (nom,
                prénom, adresse, etc). Nous ne procédons à aucun enregistrement de données nominatives
                pour la simple consultation du Site
            </p>
            <h2>
                6- Collecte des données d'identification
            </h2>
            <p>Use of the user's identifier only for access to the services
                We use your electronic identifiers only for and during the execution of the contract.</p>
            <h2>7- Collection of terminal data</h2>
            <p>Collection of profiling data and technical data for the purpose of providing
                service
                Some of the technical data of your device is collected automatically by the
                Site. This information includes your IP address, internet service provider,
                hardware configuration, software configuration, browser type and language... The collection
                of this data is necessary for the provision of the services.
                Collection of technical data for advertising, commercial and
                statistics
                The technical data of your device is automatically collected and stored
                through the Site, for advertising, commercial and statistical purposes. This information we
                help personalize and continually improve your experience on our Site. We
                we do not collect or store any personal data (surname, first name, address, etc.)
                possibly attached to technical data. The data collected is likely
                to be resold to third parties.</p>
            <h2>8- Cookies</h2>
            <p>
                Cookie retention period
                In accordance with the recommendations of the CNIL, the maximum retention period of
                cookies is a maximum of 13 months after their first deposit in the User's terminal,
                as well as the duration of the validity of the User's consent to the use of these cookies.
                The lifetime of cookies is not extended with each visit. The consent of
                the User must therefore be renewed at the end of this period.
                Cookie purpose
                Cookies can be used for statistical purposes, in particular to optimize the
                services rendered to the User, from the processing of information concerning the frequency
                of access, the personalization of the pages as well as the operations carried out and the information
                consulted.
                You are informed that the Publisher is likely to deposit cookies on your terminal. the
                cookie records information relating to browsing on the service (the pages you
                have consulted, the date and time of the consultation...) that we will be able to read during your visits
                later.
                User's right to refuse cookies
                You acknowledge having been informed that the Publisher may use cookies. If you do not
                do not want cookies to be used on your device, most browsers allow you to
                allow you to disable cookies through the settings options.
            </p>
            <h2>9 - Retention of technical data</h2>
            <p>Shelf life of technical data
                The technical data is kept for the duration strictly necessary for the realization
                of the purposes referred to above.</p>
            <h2>10- Data retention period
                personal and anonymization</h2>
            <p>
                No data retention
                We do not keep any personal data beyond your duration of connection to the
                service for the purposes described in this Privacy Policy.
                Data deletion after account deletion
                Means of purging data are put in place in order to provide for the effective deletion
                as soon as the retention or archiving period necessary for the performance of the
                determined or imposed purposes is achieved. In accordance with law n°78-17 of January 6, 1978
                relating to data processing, files and freedoms, you also have the right to
                deletion on your data that you can exercise at any time by contacting
                the Editor.
                Deletion of data after 3 years of inactivity
                For security reasons, if you have not authenticated on the Site for a
                period of three years, you will receive an e-mail inviting you to connect as soon as possible
                deadlines, otherwise your data will be deleted from our databases.
            </p>
            <h2>11- Account deletion</h2>
            <p>On-demand account deletion
                The User has the possibility of deleting his Account at any time, by simple request to
                Editor OR via the Account deletion menu present in the Account settings on
                optionally.
                Deletion of the account in case of violation of the Privacy Policy
                In the event of violation of one or more provisions of the Privacy Policy or of any
                other document incorporated herein by reference, the Publisher reserves the right to terminate
                or restrict without prior warning and in its sole discretion, your use and access
                services, your account and all Sites.</p>
            <h2>12- Indications in the event of a detected security breach
                by the Editor</h2>
            <p>User information in the event of a security breach
                We are committed to implementing all technical and organizational measures
                appropriate in order to guarantee a level of security adapted to the risks of access
                accidental, unauthorized or unlawful disclosure, alteration, loss or
                destruction of personal data concerning you. In the event that we take
                knowledge of illegal access to personal data concerning you stored on our
                servers or those of our service providers, or unauthorized access resulting in the
                realization of the risks identified above, we undertake to:
                Notify you of the incident as soon as possible;
                Examine the causes of the incident and inform you thereof;
                Take the necessary measures within reason to lessen the negative effects
                and damages that may result from said incident.
                Limitation of Liability
                Under no circumstances shall the commitments defined in the point above relating to notification in the event of a breach
                security cannot be assimilated to any acknowledgment of fault or
                responsibility for the occurrence of the incident in question.</p>
            <h2>13- Transfer of personal data abroad</h2>
            <p>No transfer outside the European Union
                The Publisher undertakes not to transfer the personal data of its Users outside
                of the European Union.
                https://www.cnil.fr/fr/la-protection-des-donnees-dans-le-mondehttps://www.cnil.fr/fr/la-protection-des-donnees-dans-le-monde</p>
            <h2>14- Modification of the privacy policy</h2>
            <p>In the event of modification of this Privacy Policy, commitment not to
                lower the level of confidentiality substantially without prior information
                of the persons concerned
                We undertake to inform you in the event of a substantial modification of this
                Privacy Policy, and not to lower the level of confidentiality of your data from
                substantially without informing you and obtaining your consent</p>
            <h2>15- Applicable law and terms of appeal</h2>
            <p>
                Arbitration Clause
                You expressly agree that any dispute that may arise as a result of this Policy
                of Confidentiality, in particular its interpretation or its execution, will come under a
                arbitration procedure subject to the rules of the mutually chosen arbitration platform
                agreement, to which you will adhere without reserve.
            </p>
            <h2>16- Data portability</h2>
            <p>Data portability
                The Publisher undertakes to offer you the possibility of having all the data returned to you
                about you on request. The User is thus guaranteed a better
                control of its data, and retains the possibility of reusing it. These data should be
                provided in an open and easily reusable format.</p>
            <div class="faq-buttons">
                <a
                        download=""
                        target="_blank"
                        href="{{ asset('build/files/Politiquedeconfidentialité.pdf') }}"
                >Download VF
                    <i class="fa-solid fa-file-arrow-down button-faq"></i>
                </a>
            </div>
        </div>


    </section>

{% endblock %}

