<div class="header_nav">
    <div class="menu-btn-container">
        <div class="menu-btn toggle">
            <div class="menu-btn_burger"></div>
        </div>
    </div>
    <div><img src="{{ asset('build/images/logo_v2_white_transparent.png') }}" alt="game-scope_logo"></div>
    <div><a class="login-btn" href=""><i class="fa-regular fa-arrow-right-to-bracket login"></i>Login</a></div>
</div>
<nav class="sidebar close">
<div class="menu-bar">
    <div class="menu">
        <div>
        <ul class="menu-links">
            <li class="nav-link">
                <a href="#">
                    <i class="icon fa-solid fa-house"></i>
                    <span class="text nav-text">Home</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#"
                ><i class="icon fa-solid fa-user-group"></i>
                    <span class="text nav-text">About</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#"
                ><i class="icon fa-solid fa-envelope"></i>
                    <span class="text nav-text">Contact</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#"
                ><i class="icon fa-solid fa-lightbulb bull"></i>
                    <span class="text nav-text">FAQ</span>
                </a>
            </li>
        </ul>
        </div>
        {#
        <div class="mode">
            <div class="moon-sun">
                <i class="fa-solid fa-moon moon"></i>
                <i class="fa-solid fa-sun sun"></i>
                <div class="switch-flex">
                <span class="mode-text text">Dark Mode</span>
                <span class="toggle-switch">
                    <span class="switch"></span>
                </span>
                </div>
            </div>
        </div>
        #}
    </div>
</div>
</nav>
